extends layout

block head
	title="Bear Transit Departures"
	link(rel="stylesheet" href="/bower_components/selectize/dist/css/selectize.default.css")
	link(rel="stylesheet" href="/css/style.css")
	link(rel="stylesheet" href="/css/spin.css")

block body
	div(class="container")
		div(class="row")
			div(class="col-xs-12" class="text-center")
				img(src="apple-touch-icon.png" id="logo")
				h1(id="logo-text") Bear Transit Departures
				hr
		div(class="row")
			div(class="col-xs-12" class="text-center")
				p This app has been discontinued. Try 
					a(href="http://nextbus.com/") NextBus
					|&nbsp;instead.
		

block js
	script(src="/bower_components/selectize/dist/js/standalone/selectize.min.js")
	//- script(src="/js/home.js")