extends layout

block head
	title="Bear Transit Departures"
	link(rel="stylesheet" href="/bower_components/selectize/dist/css/selectize.default.css")
	link(rel="stylesheet" href="/css/style.css")
	link(rel="stylesheet" href="/css/spin.css")

block body
	div(class="container")
		div(class="row")
			div(class="col-xs-12" class="text-center")
				img(src="apple-touch-icon.png" id="logo")
				h1(id="logo-text") Bear Transit Departures
				hr
		div(class="row" id="loading")
			div(class="col-xs-12")
				div(class="well")
					div(class="spinner")
						div(class="double-bounce1")
						div(class="double-bounce2")
					h3(class="text-center") Finding your location...
					div(class="text-center"): a(href="#" id="cancel-location") Cancel
		div(class="row" id="main")
			div(class="col-xs-12" id="error")
				div(class="alert alert-warning")
					span Bear Transit couldn't find your location. Select a bus stop below.
			div(class="col-xs-12 col-sm-6")
				div
					select(id="stop-select")
				div(class="well" id="no-next-bus" style="display: none;")
					h4 No active lines
					p Bear Transit Departures currently only shows daytime routes. Visit <a href="http://nightsafety.berkeley.edu/nightsafety/nightshuttles">the Night Safety</a> website for information about the Night Safety Shuttle.
				div(id="next-bus")

			div(class="col-xs-12 col-sm-6")
				div(id="map")

		div(class="row")
			div(class="col-xs-12")
				hr
				div(class="well")
					h4 Introducing the Bear Transit API.
					p Say goodbye to PDF files. For the first time, developers can access Bear Transit information using a REST-based API.
					a(href="http://docs.beartransit.apiary.io" target="_blank" class="btn btn-warning btn-lg")
						span Read the API docs 
						span(class="glyphicon glyphicon-chevron-right")

block js
	script(src="/bower_components/selectize/dist/js/standalone/selectize.min.js")
	script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyBuROq7LKwyksdMFoBZ0Rbh_If65opqOBM")
	script(src="/js/home.js")