doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		//- meta(name="apple-itunes-app" content="app-id=931324970")
		link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
		block head
	body
		block body
		div(class="container")
			div(class="row")
				div(class="col-xs-12")
					hr
					//- p <a href="http://docs.beartransit.apiary.io/">API Docs</a> • <a href="/api-terms">API Terms</a>
					//- p Made by <a href="http://daylen.com/">Daylen Yang</a>.
		script(src="/bower_components/jquery/dist/jquery.min.js")
		script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
		block js